
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{ entry.title }}</title>

		<!-- Favicon -->
		<link rel="icon" href="./images/favicon.png" type="image/x-icon" />

		<!-- Invoice styling -->
		<style>
			body {
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				text-align: center;
				color: #777;
			}

			body h1 {
				font-weight: 300;
				margin-bottom: 0px;
				padding-bottom: 0px;
				color: #000;
			}

			body h3 {
				font-weight: 300;
				margin-top: 10px;
				margin-bottom: 20px;
				font-style: italic;
				color: #555;
			}

			body a {
				color: #06f;
			}

			.invoice-box {
				max-width: 800px;
				margin: 15px auto 0;
				padding: 30px;
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
				border-collapse: collapse;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 45px;
				line-height: 45px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}
		</style>
	</head>

	<body>
        
		<div class="invoice-box">
			<table>
				<tr class="top">
					<td colspan="2">
						<table>
							<tr>
								<td class="title">
									<img src="{{ getenv('PRIMARY_SITE_URL') ~ 'assets/img/logo.png' }}" alt="LANTIS logo" style="width: 100%; max-width: 175px" />
								</td>

								<td style="font-size: 13px;padding-top: 70px;line-height:1.5">
									{% if entry.proFormaInvoice == false %}
										<strong>Št. računa #: {{ entry.invoiceNumberFull }}</strong><br />
										Datum izdanega računa: {{ entry.postDate | date("j. n. Y") }}<br />
										Datum opravljene storitve: {{ entry.dateOfService | date("j. n. Y") }}<br />
										Valuta: {{ entry.currency | date("j. n. Y") }}
									{% else %}
										<strong>Predračun:</strong> Informativni izpis<br />
										Datum izdanega predračuna: {{ entry.postDate | date("j. n. Y") }}
									{% endif %}
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="2" style="padding-top: 20px;padding-bottom: 10px;">
						<table>
							<tr>
								<td>
									<strong>LANTIS, Tilen Poje s.p.</strong><br>
									<div style="line-height: normal">
                                        <small>
                                            Keršičeva cesta 12<br>
                                            1420, Trbovlje<br>
                                            Davčna številka: SI94487839											
                                        </small>

										<span style="display: block;width: 200px;border-top:2px solid #eeeeee;padding-top:5px;margin-top:5px;"></span>
											
										<small>
											Tilen Poje<br>
											poje.tilen@gmail.com <br>
											+386 (0)40 720 915
										</small>
                                    </div>
                                    
								</td>

								{% if entry.proFormaInvoice == false %}
								<td>
									<div style="font-size: 15px;line-height: 1.5;">
										<strong style="display:inline-block;"><small>Podatki za plačilo</small></strong><br>
										TRR: SI56 2900 0005 3639 887<br>
										Sklic: SI00 00{{ entry.invoiceNumber }}-{{ entry.dateCreated | date("Y") }}
									</div>

									<div>
										<div style="line-height: normal;display:inline-block;border-top:2px solid #eeeeee; padding-top:8px;margin-top:8px;">
											<small>
												UniCredit Banka Slovenija d.d.<br>
												Ameriška ulica 2 <br>
												SWIFT: BACXSI22<br>
											</small>
										</div>
                                    </div>
								</td>
								{% endif %}
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td colspan="2">Informacije o naročniku:</td>
				</tr>

				<tr class="details">
					<td style="padding-bottom: 40px;">
                        {% set customer = entry.customer.one() %}
                        <strong>{{ customer ? customer.title : 'Unknown Customer' }}</strong><br>
                        {{ customer ? customer.address : '' }} <br>

						{% if customer and customer.VATNumber is not empty %}
                        	Davčna številka: {{ customer.VATNumber }}
						{% endif %}
                    </td>

					<td></td>
				</tr>


                <tr class="heading">
					<td colspan="2">Podrobnosti računa</td>
				</tr>

            </table>

            <table style="font-size: 13px">

				<tr>
					<td style="max-width: 40px;border-bottom: 2px solid #eee;">Št.</td>
					<td style="text-align: left;width:240px;border-bottom: 2px solid #eee;">Opis</td>
                    <td style="border-bottom: 2px solid #eee;">Količina</td>
                    <td style="border-bottom: 2px solid #eee;">Enota</td>
                    <td style="border-bottom: 2px solid #eee;">Vrednost brez DDV</td>
                    <td style="border-bottom: 2px solid #eee;">Stopnja DDV</td>
                    <td style="border-bottom: 2px solid #eee;text-align:right;">Vrednost z DDV</td>
				</tr>

                {% for item in entry.invoiceItems %}

                    <tr class="item">
                        <td style="max-width: 40px">{{ loop.index }}</td>
                        <td style="text-align: left;width: 240px;padding-right: 30px;">{{ item.itemTitle }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ (item.quantity * item.pricePerUnit) | number_format(2, ',', '.') }} €</td>
						<td>{{ item.vat }}%</td>
                        <td style="text-align: right">{{ item.priceWithVAT | number_format(2, ',', '.') }} €</td>
                    </tr>

                {% endfor %}

				<tr class="total">
					<td colspan="7" style="text-align: right;font-size: 12px;padding: 50px 5px 3px;">Cena brez DDV: {{ entry.priceWithoutVAT | number_format(2, ',', '.') }} €</td>
				</tr>

				<tr class="total">
					<td colspan="7" style="text-align: right;font-size: 12px;padding: 0 5px 3px;">DDV: {{ entry.VATPrice | number_format(2, ',', '.') }} €</td>
				</tr>

				<tr class="total">
					<td colspan="7" style="text-align: right;font-size: 18px;font-weight: bold;padding: 0 5px 5px;">Skupaj: {{ entry.total | number_format(2, ',', '.') }} €</td>
				</tr>
			</table>

		</div>
	</body>
</html>
